// Base
$warna-dasar: #fa8872;

h1 {
 color: $warna-dasar;   
 font-family: Arial, Helvetica, sans-serif;
 font-size: 3em;
 text-align: center;
}

// Built-in Modules: Color
// adujst-color($color,
//     $red: null,
//     $green: null,
//     $blue: null,
//     $lightness: null, 
//     $whiteness: null,
//     $blackness: null,
//     $alpha: null,
// )

// h1 {
//     color: adjust-color($color: $warna-dasar, $red: -50, $green: 100, $blue: 100);
// }

// adjust-hue($color, $degree);
// h1 {
//     color: adjust-hue($warna-dasar: -38deg); //jadi warna salmon
// }

// complement($color)
// h1 {
//     color: complement($color: $warna-dasar); //jadi warna biru
// }

// adjust-hue($color, $degree);
h1 {
    color: adjust-hue($warna-dasar, 30deg); //jadi warna kuning
}