// Cara memanggil modules file dengan @use
@use 'mixin'; //langsung aja karena satu folder


.header ul {
    @include mixin.inline-list();

    li {
        background-color: black;
        padding: 0.7em;
        a {
            color: white;
        }
    }
}